<h1>Borrowings</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @borrowings.each do |borrowing| %>
      <tr>
        <td><%= borrowing.user.name %></td>
        <td><%= borrowing.book.title %></td>
        <td>
      <%= form_with(model: borrowing, url: return_book_borrowing_path(borrowing), method: :patch, data: { confirm: 'Are you sure you want to return this book?' }) do |form| %>
        <%= form.submit 'Return Book' %>
      <% end %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Borrowing', new_borrowing_path %>
